# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
/.vs/
.vs/
.idea/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# dll
!*.dll


# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/Developer/DLLDev/.idea
/Developer/DLLDev/CentralizeLog/.vs
/Developer/DLLDev/Deconstruction/.vs
/Developer/DLLDev/EditorLevel/.vs
/Developer/DLLDev/MainSolution/.vs
/Developer/DLLDev/ManagerStyle/.vs
/Developer/DLLDev/RescissionRework/.vs
/Developer/DLLDev/XericLibrary/.vs
